**/.ipynb_checkpoints/*
**/images/*
**/output/*
**/*_output.pdf
**/croppedyale/**
*.png
*.docx
*.zip
**/__pycache__/*
**/kaggle/*

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pdf
*.gz
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.nav
*.snm


*.jpg
*.pgm

.DS_Store
*output

*.pygtex
*.pygstyle

data/
